.navBar{
    grid-area: Header;
    top:0;
    position: sticky;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-inline-start: 10em;
    padding-inline-end: 10em;
}
.brand{
    font-family: var(--TitleText);
    font-size: 2em;
}
.lineMiddle{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    height: 1em;
}
.underLine{
    border-bottom: 1px var(--textColor) solid;
    width: 30em;
    display: flex;
    align-self: end;
}
.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 1em;
}
.logo-link > span{
    font-size: 1em;
    color: var(--textColor);
} 
a{
    margin-right: 0.5em;
    color: var(--textColor);
}
a:hover{
    border-bottom: 1px var(--textColor) solid;
}
