.navBar{
    grid-area: Header;
    top:0;
    position: sticky;
    z-index: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-inline-start: 15em;
    padding-inline-end: 15em;
}
.brand{
    font-family: var(--TitleText);
    font-size: 2em;
}
.nav-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    row-gap: 1em;
}
a{
    margin-right: 0.5em;
    color: var(--textColor);
}
a:hover{
    border-bottom: 1px var(--textColor) solid;
}
