/* LES COULEURS */
:root {
  --textColor: #242424;
  --mainColor: #eb7117;
  --bg-light: #ccc;
  --textWhite: #ffffff;
  --midnight: #999;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --mainText: "Tahoma";
  --TitleText: "harabara";
}

#root {
  margin: 0;
  padding: 0;
  font-family: var(--mainText);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-areas: "Header" "Main" "Footer";
  height: 120vh;
  width: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* RESPONSIVE UI */
@media screen and (max-width: 1100px) {
  #root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 1fr;
    grid-template-areas: "Header" "Main" "Footer";
    height: 120vh;
    width: 100%;
  }
}
